:host {
  --color-quantum-sky-blue: #00B6F1;
  --color-quantum-royal-blue: #002878;
  --color-quantum-red: #850708;
  --color-quantum-secondary-purle: #682D86;
  --color-quantum-secondary-orange: #F47F16;
  --color-quantum-secondary-blue: #0F73C3;
  --color-quantum-secondary-gold: #FFBA00;
  --color-quantum-secondary-green: #74A534;

  --color-neutral-white: #ffffff;
  --color-neutral-light-gray: #B0B9BF;
  --color-neutral-gray: #6A7B84;
  --color-neutral-black: #000000;

  --color-misc-yellow: hsl(48, 89%, 50%);
}

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
	height: 100vh;
  overflow: hidden;
  background: #131516;
  color: rgb(232, 230, 227);
}

body {
	font-family: 'Fira Code', monospace;
  position: relative;
}

a {
  text-decoration: none;
}

section {
	height: 500px;
	display: flex;
}

textarea {
  width: 100%;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
}
.flex {
  display: flex;
  align-items: center;
}
.box {
  width: 100%;
  height: 100%;
  position: relative;
}
.box-content {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid hsl(36deg 6% 15%);
}
.column {
  width: 100%;
  height: 100%;
}
.title {
  margin: 0;
  font-size: 20px;
  color:rgb(232, 230, 227);
  font-family: 'Open Sans', sans-serif;
}
.header {
  height: 40px;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
  box-shadow: rgb(0 0 0 / 50%) 0px -0.4rem 0.9rem 0.2rem;

}
.navigation {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation > .link {
  padding: 0 0 0 25px;
  height: 100%;
  line-height: 40px;
}
.environment {
  width: 100%;
  height: calc(100% - 40px - 20px);
	display: flex;
	position: relative;
}
.sidebar {
  width: 210px;
  height: calc(100% - 40px - 20px); /* height - header height - footer height */
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
}
.editor {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.editor-input-layout,
.editor-output-layout {
  width: 50%;
  height: 100%;
  position: relative;
}
.editor-output-layout {
  border-left: 1px solid hsl(36deg 6% 15%);
}
.editor-input-layout > .box,
.editor-output-layout > .box {
  height: calc(100% - 40px);
}
.editor-input-header,
.editor-output-header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}
.editor-output-nav {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.editor-input-tabs {
  height: 40px;
}
.button {
  color:rgb(232, 230, 227);
  background: #181a1b;
  position: relative;
}
.button--tabs {
  min-width: 100px;
  border: none;
  height: 40px;
}
.button--howto {
  height: 35px;
  margin: 0 0 5px 0;
  background: transparent;
  border: none;
}
.editor-input,
.editor-output {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  position: relative;
  background: #181a1b;
}
.editor-output {
  color: rgb(232, 230, 227);
}
.editor-output:focus,
.editor-output:active {
  border: none;
  outline: none;
}
.footer {
  width: 100%;
  height: 20px;
  position: relative;
  z-index: 5;
  box-shadow: rgb(0 0 0 / 50%) 0px 0rem 0.9rem 0.2rem;
  /* background: cornflowerblue; */
}
.subtitle {
  margin: 0 0 0 25px;
  font-size: 16px;
  line-height: 40px;
}
#howto {
  height: calc(100% - 40px);
  margin: 0;
  padding: 20px 0 0 25px;
  overflow-y: scroll;
  list-style: none;
}
#howto > a {
  margin: 0 0 20px 0;
  display: block;
  color: rgba(255, 255, 255);
}
.select {}
.select--debug {
  /* margin-right: 25px; */
  height: 40px;
  width: 100px;
  background: #181a1b;
  color: white;
  border: none;
  text-align-last:center;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select--debug:hover {
  cursor: pointer;
}
.select--debug:focus,
.select--debug:active {
  outline: none;
  border: none;
}
.config {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}
.config-item {
  margin: 0 10px 0 0;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
}
.switcher {
  margin-right: 30px;
  width: 50px;
  height: 30px;
  display: block;
  position: relative;
}
.slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  position: absolute;
  /* background: hsl(210, 24%, 10%); */
  background: #131516;
  -webkit-transition: 400ms;
  transition: 400ms;
}
.slider:before {
  content: "";
  z-index: 2;
  width: 15px;
  height: 15px;
  position: absolute;
  /* background: hsl(196, 96%, 72%); */
  background: rgb(232, 230, 227);
  transform: translate3d(0, 0, 0);
  -webkit-transition:
    background 400ms ease,
    transform 400ms ease;
  transition:
    background 400ms ease,
    transform 400ms ease;
}
.slider:after {
  content: "";
  left: 2px;
  right: 0;
  z-index: 1;
  width: 35px;
  height: 5px;
  position: absolute;
  border-radius: 34px;
  background: hsl(206, 37%, 96%);
  -webkit-transition: background 400ms ease;
  transition: background 400ms ease;
}
input:checked + .slider:before {
  /* background: hsl(185, 76%, 64%); */
  background: rgb(232, 230, 227);
  -webkit-transform: translate3d(25px, 0, 0);
  transform: translate3d(25px, 0, 0);
}
input:checked + .slider:after {
  /* background: hsl(210, 24%, 15%); */
  background: rgb(232, 230, 227);
}
.slider.round:before {
  border-radius: 50%;
}